body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 15px;
}

.film-poster {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 4px;
}
.film-poster__art {
  background-color: yellow;
  color: black;
  position: absolute;
  top: 3px;
  right: 3px;
  padding: 3px;
  border-radius: 2px;
}

.film-poster__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.film-poster__info {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.film-poster__info * {
  margin: 10px;
}

.film-poster__year {
  font-size: 34px;
  color: white;
  font-weight: 900;
}

.film-poster__title {
  text-transform: uppercase;
  color: yellow;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  max-height: 2.6em;
  font-size: 20px;
}

.film-poster__description {
  color: white;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  max-height: 3.9em;
}

.film-poster:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #000000e6 18%, #00000080 38%, #00000000 47%);
}

.film-popup {
  min-height: 60vh;
  width: 90%;
  position: fixed;
  background-color: #292929;
  top: 10vh;
  left: 5%;
  background-repeat: no-repeat;
  z-index: 3;
  display: grid;
  display: grid;
  padding: 13px;
  grid-template-areas:
    'header header'
    'poster content';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 87%;
  grid-column-gap: 10px;
  overflow-y: auto;
  border-radius: 4px;
}

.film-popup__title {
  grid-area: header;
  background-color: black;
  color: yellow;
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  padding: 7px 50px 7px 28%;
  border-radius: 4px;
  display: flex;
}
.film-popup__title span {
  align-self: center;
}

.film-popup__closing {
  height: 32px;
  width: 32px;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  cursor: pointer;
}

.film-popup__closing::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 28px;
  top: 14px;
  right: 2px;
  background-color: white;
  transform: rotate(45deg);
  border-radius: 1px;
}
.film-popup__closing::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 28px;
  top: 14px;
  right: 2px;
  background-color: white;
  transform: rotate(-45deg);
  border-radius: 1px;
}

.film-popup__img {
  grid-area: poster;
  width: 100%;
  max-height: 50vh;
  position: relative;
  left: 10px;
  top: -30px;
  object-fit: cover;
  border-radius: 3px;
}

.film-popup__description-list {
  color: white;
  list-style-type: none;
  padding-left: 20px;
  font-size: 14px;
  overflow: hidden;
}

.film-popup__description-item {
  display: flex;
  margin-bottom: 10px;
}
.film-popup__description-property {
  flex-basis: calc(100% / 3);
}
.film-popup__description-value {
  flex-basis: calc(100% / 3 * 2);
  padding-left: 20px;
}
.hidden {
  display: none;
}
